/* mazemap login, do not touch */
:local(.pageRoot) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
}
/* mazemap login, do not touch */

.appRoot {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

